<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
    </title>
    <link rel="stylesheet" href="/css/admin_homepage_style.css"> 
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Sidebar Navigation -->
        <aside class="sidebar">
            <a><img src="/logo.png" id=logo style="scale:55%; margin: auto; "></a>
            
            <nav class="nav-menu">
                <button class="nav-btn" data-category="AMP">AMP</button>
                <button class="nav-btn" data-category="FDQ">FDQ</button>
                <button class="nav-btn" data-category="MPH">MPH</button>
                <button class="nav-btn" data-category="MS">MS</button>
                
                <button class="create-btn" onclick="window.location.href='/admin/create'"> Create New Account</button>
                <% if(user.email === "manila_programdept@intl.unbound.org") { %>
                    <br>
                    <button class="admin-btn" id="view-admin">View Admin Accounts</button> <!--Only Master Admin should be able to see this!!-->
                    <br>
                    <% } %>
                <a href="/logout" class="nav-btn" data-category="Logout" id="logout">Logout</a>
            </nav>
        </aside>

        <!-- Main Content Area -->
        <main class="content">  
            <div class="content-main">
                <!-- Render this on the backend-->
                <div class="center-div">
                <h1 class="special-font"> WELCOME </h1>
                </div>
                <br>
                <br>
                <br>
                <span> <h3> UNBOUND MANILA FOUNDATION INC. <h3> </span>
                <br>
                <br>
                <span> <h3>REPORTS PORTAL</h3></span> 
                

                <!--div class="content-area">
                    <span><h1>Click on an SPU to view SDWs assigned</h1></span>
                </div-->
            </div>
        </div>
        </main>
    </div>

    <script src="/js/admin_homepage.js"> </script>

</body>

</html>
