<!DOCTYPE html>

<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome, <%= user.staff_type %>!</h1>
        
        <% if(user.staff_type == "admin") { %>
            <li><a href="/register">Create an Account</a></li>
        <% } %>

        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>