  <head>
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="POST">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="type">User Type</label>
      <select id="type" name="type" required>
        <option value="supervisor">Supervisor</option>
        <option value="sdw">SDW</option>
      </select>
    </div>
    <button type="submit">Create Account</button>
    </form>
  </body>