<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Supervisor Homepage</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/supervisor_homepage_style.css">
</head>

<body>
    <main>
        <aside class="sidebar">
            <img src="/logo.png" style="scale:55%; margin: auto; ">
            
        </aside>

        <div class="content">
            <div class="content-main">
                <h2>Welcome to the Unbound Manila File Repository System!</span>!</h2>
                
                <div class="content-bar">
                    <h1>SDWs Assigned:</h1>
                    
                    <div class="dropdown" style="position:absolute; right:30px">
                        <label>Sort by: </label>
                        <!-- Add here as needed-->
                        <select id="sortMenu">
                            <option value="alphabetical">Alphabetical</option>
                            <option value="lastupdated">Last Updated</option>
                        </select>
                    </div>
                </div>
                <% if (sdws == null) { %>
                    <div class="empty-state">
                        <p class="upload-text">No SDWs Assigned For <%= user.first_name %></p>
                    </div>

                <% } else { %>
                    <div class="divButtons" id="sdwContainer">
                        <% sdws.forEach(sdw => { %>
                            <button onclick="navigateToSDW('<%= sdw.sdw_id %>')">
                                <img src="/sdw_icon.png" alt="SDW Icon">
                                <span>  <%= sdw.first_name %> <%= sdw.last_name %></span>
                            </button>
                        <% }); %>
                    </div>
                <% } %>
                
            </div>
            
        </div>
   <!-- <button class="logout-btn" onclick="window.location.href='/login'">Logout</button>  -->
    <a href="/logout" class="logout-btn">Logout</a>  
    </main>

    <script src="/js/supervisor_homepage.js"></script>
</body>
</html>